
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#navigationbar {
    width: 15%;
    height: 100vh;
}

#image-area { 
    display:flex;
    width:75%;
    padding: 0px;
}
.el-main {
    padding: 0px;
}

.el-divider--vertical{
    display:inline-block;
    width:1px;
    height:100%;
    margin:0;
    vertical-align:middle;
    position:relative;
  }

#right-area {
    flex:1;
    padding: 0px;
}
